{% extends "instagram/layout.html" %}

{% block title %}

Instagram / Post Detail

{% endblock title %}


{% block content %}

<h1>Detail</h1>

<p>Author: {{ post.author }}</p>
<p>message: {{ post.message }}</p>
<p>is_public: {{ post.is_public }}</p>
<p>created_at: {{ post.created_at }}</p>
<p>updated_at: {{ post.updated_at }}</p>
{% if post.photo %}
<div>
    <img src="{{ post.photo.url }}"/>
</div>
{% endif %}

<hr/>
<a href="{% url 'instagram:post_list' %}" class="btn btn-primary">목록</a>

{% endblock content %}

